In [42]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

In [43]:
driver=webdriver.Chrome(r'C:\Users\jaspreet rathod\Downloads\chromedriver.exe')# opening chrome driver

In [44]:
driver.get("https://paytm.com/")#opening website from where we need to fetch data

In [45]:
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [46]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2021-11-28")

In [53]:
urls=[]
sou=["BLR-Bengaluru","CCU-Kolkata"]# passing source location
location = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2022-03-28","2022-04-05","2022-03-03","2022-04-04","2022-05-29","2022-05-06","2022-06-21","2022-05-15","2022-06-09","2022-03-07"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [54]:
len(urls)#checking len of url how many url we have fetched

80

In [55]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements_by_xpath('//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements_by_xpath('//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [57]:
source=place[0::2]
destination=place[1::2]

In [58]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

9217 9217 9217 9217 9217 9217 9217 9217

In [59]:
# this is the dataframe i have fetched
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [60]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,IndiGo,20:05,00:50,2907,Bengaluru,Delhi,4h 45m,1,2022-03-28
1,IndiGo,18:45,00:05,2907,Bengaluru,Delhi,5h 20m,1,2022-03-28
2,IndiGo,12:55,18:25,2907,Bengaluru,Delhi,5h 30m,1,2022-03-28
3,IndiGo,18:45,00:50,2907,Bengaluru,Delhi,6h 5m,1,2022-03-28
4,IndiGo,16:20,22:35,2907,Bengaluru,Delhi,6h 15m,1,2022-03-28
...,...,...,...,...,...,...,...,...,...
9212,Vistara,10:25,22:55,7830,Kolkata,Hyderabad,12h 30m,2,2022-03-07
9213,SpiceJet,15:05,21:00,8848,Kolkata,Hyderabad,5h 55m,1,2022-03-07
9214,Vistara,07:10,12:35,9316,Kolkata,Hyderabad,5h 25m,1,2022-03-07
9215,Vistara,10:15,20:55,12151,Kolkata,Hyderabad,10h 40m,2,2022-03-07
9216,Vistara,10:15,20:55,12151,Kolkata,Hyderabad,10h 40m,2,2022-03-07

In [62]:
flight.to_csv("flight_fare.csv")#saving dataframe to csv format