# assignment2

# Q1

In [90]:
import selenium
import pandas as pd
from selenium import webdriver

In [108]:
driver=webdriver.Chrome("chromedriver")

In [66]:
url= "https://www.naukri.com/"
driver.get(url)

In [67]:
search_job= driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_job.send_keys("Data Analyst")

In [68]:
search_loc=driver.find_element_by_id("qsb-location-sugg")
search_loc
search_loc.send_keys("Banglore")

In [69]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [80]:
job_titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles

[<selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="cf3fd5a5-8a9a-4d11-bb05-56d6a112af80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="14d34b04-02f7-4c62-b614-97a9c086bff4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="a463fe1e-f929-47bf-8913-303006505489")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="bb2a89a4-418b-4d7f-b26b-ef1a934b2a3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="26c9ff54-691b-4262-b75a-d49b31a25f37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="95453e5c-0965-4a82-b4ee-39039d221ca8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="22dd45a3-e12b-43f6-b0e5-bd8704e5f0f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="e5963f0e-de9c-4c14-bcd5-a8477690934f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="678ef8ed-d579-4b41-818e-39fc46023c04")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="c9c47a2e-cc3b-4006-9bdb-9e89336c1fa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="74a5ad62-f6c7-43a9-a1d9-e1a001e7f852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="68f0ca2e-6732-4cac-a3ea-2d2b626ecd28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="f77d67ff-f5a1-4384-a395-1f4c4ab9dd26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="c154e0af-1cb2-4de9-814c-da49fbaa29a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="5c8c9929-0621-4027-a7b2-c51fa82de3ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="a53310bb-c2d6-4e89-bf78-41100156f5b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="8d891b7f-782b-4a99-a59f-606bedda3f88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="518209eb-beff-4e94-90d6-6d78cc7581c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="aaa9ef8e-5a4c-467d-9836-c563878da12d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="4a39c37e-5b64-48bb-9f81-7f669a517262")>]

In [81]:
Job_titles=[]
for i in job_titles:
    Job_titles.append(i.text)
Job_titles

['Business Data Analyst - Google Data Studio & SQL',
 'Data Analyst/Sr.Data Engineer',
 'Business Data Analyst',
 'Business Data Analyst',
 'Executive Data Analyst',
 'Senior Data Analyst',
 'Data Analyst - I/II',
 'Data Analyst',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Hiring For the role - DATA Analyst (Flipkart)',
 'Business Data Analyst - MIS & Reporting',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Associate, Data Hierarchy Analyst( MDM)',
 'Data Analyst - Python/SQL',
 'Data Analyst - EdTech',
 'Lead , Data Analyst',
 'Product Data Analyst',
 'Data Analyst/Sr.Analyst - Bangalore',
 'SENIOR MARKETING DATA ANALYST']

In [82]:
len(job_titles)

20

In [83]:
job_location= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location

[<selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="dc626299-ef60-4e83-9abb-02dd75664b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="a0a019c6-58c7-4f61-845a-7a5cc730f06d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="011337f1-07c9-42d9-a598-6dab8909cefd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="4f6bc6fb-324c-4783-a99c-2b60580f49a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="3a306519-7565-4075-b056-958b9ebb5c7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="bc76624e-bdb0-4330-a627-76270daf126d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="19082cd6-48b9-4ac1-84f1-f36e8e1fb490")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="2bb4d182-9d16-4f05-8fbc-fc8f12dffaa2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="1113b853-0274-4366-8d25-8edd8d761054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="8cc72974-a265-4bf6-b7de-217c1bf854d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="7fee1a0b-a4bd-4753-90ef-4e45e23f5532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d0950fec-f26d-4b89-abe7-09915a8283f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="bc8d3e5a-3e9b-44d2-9950-b4ed3381c8a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="f39d8c86-0945-4493-924e-20bcf0923ac3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="e27c80a0-c0cb-43cc-816d-0d0e810c0344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="55f3edb3-f3c1-4cf9-8fc2-d9a7342e08b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="a1d395dd-6015-4d1a-ae89-b735a3a415bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d3911f3d-5174-4e3d-921f-96391a459383")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="1cc90db2-239e-452c-a2a0-0a1016c41ca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="18818ec9-f55b-481e-9b37-02cdfd4db2e8")>]

In [84]:
Job_location= []
for i in job_location:
    Job_location.append(i.text)
Job_location

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru(Bellandur)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [85]:
len(Job_location)

20

In [86]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="73fc3a59-bc56-4793-8477-85d8289d1a85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d931163e-39e0-4467-b315-886bc969a952")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="85a1fda7-f0ce-4944-8ec3-7ff92eb72f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="06fe903d-5a2d-4795-b0d9-904f447963f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="1d8a4c8d-fad4-44ea-9b85-6c84626798af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="bc25dfb6-e3ce-4b5a-9a31-df1cb4b98a0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="f4450225-3a6d-46c9-a844-e8063add5236")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="acbd362c-06fa-4244-a4a7-49ba2b6245d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="2332ffd0-b118-4f6a-b06f-c0f2051ba9ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="295f48cf-0ca6-47bd-9602-6beda594607b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="4aeb3033-3d9b-408e-9f88-b7b8a3527485")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="25f6ef22-88cb-421d-90e9-244629a4d073")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="eefb628c-4899-4d7a-8c28-c2fc71ea7e61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="baed0e7f-79a0-467e-82d9-29a981e81d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="077ca767-1d17-4602-aa04-156aefe22ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="2cb1e50a-4020-4d0d-88de-62b3b88d22a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="1b2ecb3a-1ede-4246-a7fa-65b64ee0054e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="aaf9b1b2-7e02-493a-a7df-6599d904e897")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="1b0c40f9-9722-4813-badd-424023676d29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="676a93c1-4b65-48f1-9e9d-c77a4f91f9ac")>]

In [87]:
Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['AVE-Promagne',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'Trigent Software',
 'Trigent Software',
 'Gokaldas Exports Ltd',
 'Virtusa Consulting Services Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'INTERTRUST GROUP',
 'Flipkart',
 'Flipkart',
 'GENPACT India Private Limited',
 'Affine',
 'TalentStack',
 'Near Pte. Ltd.',
 'Trifacta',
 'Cocentrus',
 'McAfee Software (India) Pvt. Ltd']

In [88]:
len(Company_name)

20

In [90]:
job_experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
job_experience

[<selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="760cc430-a30f-494f-8043-25308ca7a8d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="e3eb1adb-5040-4164-9ee7-70c2b6d945b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="90ac8fd2-29e5-4c8e-9de0-35aaeb43f1c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="5913ed53-6670-4e3a-86d9-3596dcc8e9b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="adbd86dd-e47c-460b-854e-692c86a7dd6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d961ec9a-7b85-4e3b-af79-152638ba8134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="74e70bc9-b7f5-4407-bef3-b89b50f6878b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="c02494cd-095f-45e3-933d-44b8d515ccdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="e70da461-d9aa-4861-b084-30aea1a9bb96")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="e0b5eaf9-3e3d-49dd-ae5d-a02ee3268faa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d5ce1653-89eb-45b4-a4c3-ca38ef872322")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="d889a11c-ae50-4e8f-86b8-fd02f4b91dfa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="84fbb166-c860-4067-afc9-0dcd67959d0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="46414e5d-1e65-40a1-995c-d45ae32c195a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="9e30d92b-0f55-4386-89d7-3829f612b000")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="268b659d-61b1-45aa-b108-5c2ba5375f12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="8523d046-e432-412a-ba82-afe4db8c28b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="71cf6c7a-4cb2-4b1a-8aec-1abb3f85234e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="30d619ed-445a-4930-9b40-8b10be10d6af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="c15396f1b9cabc9bfad8ec5e2d3187ee", element="7a3816f3-e414-47a4-be9b-d948c7d6779f")>]

In [91]:
Job_experience=[]
for i in job_experience:
    Job_experience.append(i.text)
Job_experience

['3-8 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '0-3 Yrs',
 '8-12 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '2-6 Yrs',
 '6-11 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-7 Yrs']

In [92]:
len(Job_experience)

20

In [93]:
jobs=pd.DataFrame({})
jobs['Job_Title']=Job_titles[:10]
jobs['Company_Name']=Company_name[:10]
jobs['Location']=Job_location[:10]
jobs['Experience_required']=Job_experience[:10]
jobs

,Job_Title,Company_Name,Location,Experience_required
0,Business Data Analyst - Google Data Studio & SQL,AVE-Promagne,Bangalore/Bengaluru,3-8 Yrs
1,Data Analyst/Sr.Data Engineer,SYREN TECHNOLOGIES PRIVATE LIMITED,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",4-9 Yrs
2,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
3,Business Data Analyst,Trigent Software,Bangalore/Bengaluru,5-10 Yrs
4,Executive Data Analyst,Gokaldas Exports Ltd,Bangalore/Bengaluru,0-3 Yrs
5,Senior Data Analyst,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",8-12 Yrs
6,Data Analyst - I/II,Philips India Limited,Bangalore/Bengaluru,3-6 Yrs
7,Data Analyst,IBM India Pvt. Limited,Bengaluru/Bangalore,1-4 Yrs
8,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru(Bellandur),1-6 Yrs
9,Hiring For the role - DATA Analyst (Flipkart),Allegis Services India Pvt. Ltd.,Bangalore/Bengaluru(Bellandur),1-6 Yrs

# Q2

In [95]:
driver=webdriver.Chrome("chromedriver")

In [96]:
url= "https://www.naukri.com/"
driver.get(url)

In [97]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job
search_job.send_keys('Data Scientist')

In [98]:
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc
search_loc.send_keys('banglore')

In [100]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [103]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

Job_title=[]
for i in job_title:
    Job_title.append(i.text)
Job_title

['Lead Data Scientist BFSI',
 'Associate Data Scientist',
 'Data Scientist: Advanced Analytics',
 'SENIOR DATA SCIENTIST',
 'Data Scientist (Python & SQL)',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Freelance Data Scientist Project Based',
 'Data Scientist',
 'Data Scientist',
 'Requirement For Data Scientist - Mumbai & Bangalore',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - ML',
 'Data Scientist',
 'Data Scientist',
 'Cognitive Data Scientist',
 'Data Scientist + Python + Big DATA',
 'Senior Data Scientist, Payments compliance']

In [104]:
len(Job_title)

20

In [105]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name

Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['IBM India Pvt. Limited',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Happiest Minds Technologies Pvt.Ltd',
 'AVE-Promagne',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Wrackle Technologies Pvt Ltd',
 'Shikvix',
 'NeenOpal Intelligent Solutions Private Limited',
 'PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED',
 'CRISIL LIMITED',
 'ELPIS IT SOLUTIONS PVT LTD',
 'ELPIS IT SOLUTIONS PVT LTD',
 'SP Staffing Services Private Limited',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Capgemini Technology Services India Limited',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED']

In [106]:
len(Company_name)

20

In [114]:
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location

Job_location=[]
for i in job_location:
    Job_location.append(i.text)
Job_location

['Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [115]:
len(Job_location)

20

In [121]:
desc_url=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
desc_url

Desc_url=[]
for i in desc_url:
    Desc_url.append(i.get_attribute('href'))
Desc_url

['https://www.naukri.com/job-listings-lead-data-scientist-bfsi-ibm-india-pvt-limited-bengaluru-bangalore-5-to-9-years-070921901691?src=jobsearchDesk&sid=16311061034316509&xp=1&px=1',
 'https://www.naukri.com/job-listings-associate-data-scientist-philips-india-limited-bangalore-bengaluru-3-to-5-years-060921501985?src=jobsearchDesk&sid=16311061034316509&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-advanced-analytics-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-070921901677?src=jobsearchDesk&sid=16311061034316509&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-happiest-minds-technologies-pvt-ltd-bangalore-bengaluru-5-to-10-years-070921501517?src=jobsearchDesk&sid=16311061034316509&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-sql-ave-promagne-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-8-years-060921904967?src=jobsearchDesk&sid=16311061034316509&xp=5&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-010921906637?src=jobsearchDesk&sid=16311061034316509&xp=6&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-010921906105?src=jobsearchDesk&sid=16311061034316509&xp=7&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16311061034316509&xp=8&px=1',
 'https://www.naukri.com/job-listings-freelance-data-scientist-project-based-shikvix-bangalore-bengaluru-3-to-8-years-060921008814?src=jobsearchDesk&sid=16311061034316509&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-neenopal-intelligent-solutions-private-limited-bangalore-bengaluru-2-to-5-years-080921006998?src=jobsearchDesk&sid=16311061034316509&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-prescience-decision-solutions-private-limited-bangalore-bengaluru-5-to-10-years-080921005624?src=jobsearchDesk&sid=16311061034316509&xp=11&px=1',
 'https://www.naukri.com/job-listings-requirement-for-data-scientist-mumbai-bangalore-crisil-limited-bangalore-bengaluru-mumbai-all-areas-2-to-6-years-080921005523?src=jobsearchDesk&sid=16311061034316509&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921602158?src=jobsearchDesk&sid=16311061034316509&xp=13&px=1',
 'https://www.naukri.com/job-listings-data-scientist-elpis-it-solutions-pvt-ltd-bangalore-bengaluru-3-to-8-years-070921002157?src=jobsearchDesk&sid=16311061034316509&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-ml-sp-staffing-services-private-limited-pune-chennai-bangalore-bengaluru-10-to-15-years-100621006203?src=jobsearchDesk&sid=16311061034316509&xp=15&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-noida-bangalore-bengaluru-5-to-9-years-010621004567?src=jobsearchDesk&sid=16311061034316509&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-2-to-4-years-010921906678?src=jobsearchDesk&sid=16311061034316509&xp=17&px=1',
 'https://www.naukri.com/job-listings-cognitive-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-3-to-7-years-030921904668?src=jobsearchDesk&sid=16311061034316509&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-scientist-python-big-data-capgemini-technology-services-india-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-6-to-11-years-030921008208?src=jobsearchDesk&sid=16311061034316509&xp=19&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-payments-compliance-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-9-years-020921903258?src=jobsearchDesk&sid=16311061034316509&xp=20&px=1']

In [126]:
len(Desc_url)

20

In [327]:
import time
from selenium.common.exceptions import NoSuchElementException

In [128]:
job_description=[]
for i in Desc_url:
    driver.get(i)
    
    try:
        job_desc=driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_desc.text)
    except:
        job_description.append("--")
job_description

['--',
 'Job description\nUse predictive modeling to increase and optimize customer experiences, revenue generation, campaign optimization and other business outcomes\nWork with product management to develop data use cases and embed predictive models in workflows on resource constrained platforms and cloud enabled.\nSelecting features, building and optimizing classifiers using machine learning and deep learning techniques\nCollaborates with Data Engineers to enhance data collection and ingestion/curation techniques to include information that is relevant for building analytic systems\nProcessing, cleansing, and verifying the integrity of data used for analysis\nDevelop processes and tools to monitor and analyze model performance and data accuracy. Life cycle management of predictive models.\nAdherence to compliance procedures in accordance with regulatory standards, requirements, and policies. Managing and designing the reporting environment, including data sources security, and metadata.\nJob Qualifications:\nMaster s degree or PhD in Computer Science, Information management, Statistics or related field, with 3 to 5 years of experience in the Consumer or Healthcare industry manipulating data sets and building predictive models with focus on product development\nExperience in statistical modelling, machine learning, data mining, unstructured data analytics and natural language processing. Sound understanding of - Bayesian Modelling, Classification Models, Cluster Analysis, Neural Network, Nonparametric Methods, Multivariate Statistics, etc.\nStrong hands on knowledge of ML techniques like regression algorithms, K-NN, Na ve Bayes, SVM and ensemble techniques like Random forest, AdaBoost etc\nHaving strong knowledge in unsupervised learning algorithms using Neural networks and Deep-Learning\nStrong knowledge in Data Wrangling and Exploration techniques to identify the patterns, trends and outliners.\nDeep knowledge and practical experience with data science toolkits, such as NumPy, Pandas, scikit-learn or equivalent\nExperience with data visualization tools, such as QlikView, Matplotlib, seaborn or equivalent tools.\nProficiency in using query languages, such as SQL, PL/SQL\nHands on experience in the one or more databases like Hadoop, AWS Redshift, Snowflake etc.\nGood applied statistics skills, such as distributions, statistical testing, regression, etc.\nGood ETL scripting and programming skills, such as Python, R or Scala to integrate developed solution into the proposition.\nA team player capable of working and integrating across cross-functional team for implementing project requirements. Experience in technical requirements gathering and documentation.\nAbility to work effectively and independently in a fast-paced global collaborative agile team environment with tight deadlines\nA flexible, pragmatic and collaborative team player with innate ability to engage with stakeholders at all levels in the organization.\nA self-starter with high levels of drive, energy, resilience and a desire for professional excellence with a passion for data and data science\nRoleClinical Research Associate/Scientist\nIndustry TypeMedical Services / Hospital\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Post Graduation Not Required\nKey Skills\nProduct managementComputer sciencemetadataMachine learningAgilePLSQLHealthcareQlikViewData miningPython',
 '--',
 'Job description\n  Skills\nRequired Skills: Data Science, Machine Learning, Deep Learning, Python, NLP\nDesired Skills: Computer Vision\nRoles and responsibilities\nExperience in Data Modelling, R, Python, SQL, Data Science, Machine Learning, Deep Learning, NLP, Statistics\nHave ability to solve Business problems using Data\nShould possess extensive knowledge of and experience in applying data mining and machine learning techniques on large amount of datasets\nHigh level of proficiency in statistical tools like R, Python\nCandidate will be expected to communicate analytical results in a way that is meaningful for business stakeholders and provides actionable insights.\nHave the ability to discover new opportunities where advanced analytical techniques can be leveraged for solving business problems\nGood to Have\nExpertise in programming languages like Java/C/C /Python\nExperience with relational databases and SQL is good to have\nExperience in audio and video analytics\nRelevant experience in Big Data platforms like Hadoop eco-system\nCome up with innovative algorithms and solutions\nStaffing Type:Permanent\nRoleClinical Research Associate/Scientist\nIndustry TypeIT Services & Consulting\nFunctional AreaMedical, Healthcare, R&D, Pharmaceuticals, Biotechnology\nEmployment TypeFull Time, Permanent\nRole CategoryR&D\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHospitalityNSEStaffingBfsiAnalyticalAgileData miningAnalyticsAutomotiveSQL',
 'Job description\nRequired Technical and Professional Expertise\n• 6+ years of industry work experience in data scientist projects\n• Master’s degree or higher in Statistics/Math/Computer Science or related field\n• Background in applied statistical modeling on large experimental or observational data sets\n• Experience extracting data from a variety of sources, and a desire to expand those skills (working knowledge SQL is required, Spark is a plus)\n• Experience with one or more statistical or machine learning software such as R, Python, etc.\n• Must showcase past work through published articles/GitHub/social media\n\nPreferred Technical and Professional Expertise\n• Knowledge of distributed computing systems, e.g. Cosmos, Spark, Hadoop, and relational database management system\n• PhD. in Statistics is preferred\n• You love collaborative environments that use agile methodologies to encourage creative design thinking and find innovative ways to develop with cutting edge technologies\n• Ambitious individual who can work under their own direction towards agreed targets/goals and with creative approach to work\n• Intuitive individual with an ability to manage change and proven time management\n• Proven interpersonal skills while contributing to team effort by accomplishing related results as needed\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Maths, Statistics\nPG :MS/M.Sc(Science) in Maths, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nRData scienceData analyticsSQLPython',
 '--',
 '--',
 'Job description\nRoles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Computers, Statistics\nPG :MS/M.Sc(Science) in Computers, Statistics\nDoctorate :Ph.D/Doctorate in Statistics, Computers\nKey Skills\nData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 "Job description\n\nJob description:\n\nSeeking senior data scientists for project-based roles that involve working on various projects.\n\nThe candidate must have experience in Python coding language and machine learning. The candidate will be working on a part-time basis and hours will be flexible based on the candidate's availability.\nOpportunity to grow in a startup setting.\nWhat you'll need:\nB.Tech in CS or Statistics with demonstrable experience of over 5 years through publications/deployed solutions/projects.\nM.Tech or Ph.D. in CS or Statistics with demonstrable experience of over 3 years through publications/deployed solutions/projects.\nA deep understanding of applied statistical analysis and predictive modeling is desired.\nThe candidate must have a thorough grasp of the theory and application of broad ML algorithms namely, but not limited to regression, SVM, Tree, Random Forests, Boosting, Neural Network, clustering, forecasting, deep learning, text analysis, etc.\nIt is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary\n\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypePart Time, Freelance/Homebased\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nKey Skills\nPredictive ModelingRAlgorithmsSVMClusteringMachine LearningStatistical AnalysisStatisticsDeep LearningPython",
 'Job description\nRoles and Responsibilities\nWe are looking for someone who would be responsible for analyzing data and providing business insights. As a Data Scientist your responsibilities will include understanding the business problem and experimenting with different modelling architectures to create the best possible setup from model performance as well as computational performance. To do this job successfully, you need exceptional skills in Machine Learning and Programming. Your ultimate goal will be to find the best data-based solution for the problem at hand.\nMoreover, you are expected to learn fast and deliver quickly in a fast-paced startup environment. If you thrive on ambiguity and are a problem solver and yet deliver value to clients, feel free to reach out to us.\nWe are looking ONLY FOR SELF DRIVEN INDIVIDUALS with a desire to excel in Data Science Domain.\nUnderstanding business objectives and developing models that help to achieve them, along with metrics to track their progress\nDevelop and maintain robust data processing pipelines and reproducible modeling pipelines\nBuild mathematical models to solve various problems ranging from Time Series forecasting to Neural Networks and ensure seamless deployment in production pipelines.\nAnalyze experimental results, iterate and refine models to create significant business impact\nFollow strict coding standards and other software engineering best practices\n\n\nDesired Candidate Profile\nProven experience as a Data Scientist or similar role\nStrong SQL, R/Python Skills\nShould have familiarity with Machine Learning Models and fundamentals in Forecasting and Optimization Techniques\nShould have strong mathematical background & analytical bent of mind\nStrong Problem-Solving Ability\nAbility to communicate well in a highly collaborative team environment, consisting of both technical and non-technical personnel\nReliable self-starter that is capable of working with a high degree of autonomy\n\n\nPerks and Benefits\n\nNeenOpal is a global management consulting firm with a unique and specialized focus on Data Science.\nWe provide services across the whole value chain of an organization - Digital Strategy, Sales & Marketing, Supply Chain & Logistics as well as Finance. Youll have a blast doing it in our fun, passionate environment.\nRoleData scientist\nIndustry TypeManagement Consulting\nFunctional AreaIT Software - Other\nEmployment TypeFull Time, Permanent\nRole CategoryNot mentioned\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData SciencePythonSQL\nExcelSoftware EngineeringProblem SolvingNeural NetworksTime SeriesData AnalysisBusiness InsightsData ProcessingMachine Learning\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nHi,\n\nWe at Prescience www.prescienceds.com looking for Data Scientist @ Bangalore .\n\nRoles and Responsibilities\nAs a Data Scientist you will be working with senior management of clients to understand the business requirements, define right problem statement and come up with a framework for the solution. You will also work on the solution and at time guide a small team to deliver the same. Part of job role would be develop products in the area of Natural Language Processing, Conversational Interfaces, Text Mining etc.\n\nDesired Candidate Profile\nWhat we are looking for:\nGood applied statistics skills, such as distributions, statistical testing, regression, etc. Experience in Natural Language Processing, Computer Vision. Exposure to common data science business problems like clustering, classification, anomaly detection, prediction etc.\nGood understanding of machine learning techniques and algorithms\nExperience with common data science toolkits Python, R, SAS\nProficiency in using query languages such as SQL, Hive, etc Experience with NoSQL database, SQL Server, PostgreSQL, MongoDB\nGreat communication skills\nData-oriented personality and excellent business analysis skills\nExperience in solutioning for data science related problems, work with business stakeholders to define right problem statement and solution.\nOpen to professionals who have data analytics / BI background and then moved to Data Scientist roles.\n\nPerks and Benefits\n\n\nRoleOther\nIndustry TypeIT Services & Consulting\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate\nKey Skills\nTensorflowPostgreSQLNatural Language ProcessingNeural NetworksMachine LearningStatisticsSQLData ScienceAnomaly DetectionPytorchRNLPMongoDBQlikViewComputer VisionData AnalyticsPython',
 'Job description\n\nCRISIL (formerly Credit Rating Information Services of India Limited) is an Indian analytical company providing ratings, research, and risk and policy advisory services and is a subsidiary of American company S&P Global\n\nWe are looking Data Scientist for Mumbai & Bangalore location\nCandidates who can join immediately or within 30-45 need only apply\n\nPlease refer below JD for your reference-\n\nJob Description Data scientist:\nClient oriented approach to problem solving. Individual should be able to have a holistic view of multiple businesses and develop analytic solutions accordingly.\nOwn and deliver multiple and complex analytic projects. This would require an understanding of business context, conversion of business problems in modeling, and implementing such solutions to create business value.\nAlways up to date with the latest use cases of modeling community, machine learning and deep learning algorithms and share knowledge within the team.\nProficiency in basic statistics, hypothesis testing, segmentation and predictive modeling.\nAbility to translate and articulate technical thoughts and ideas to a larger audience including influencing skills with peers and senior management.\nStrong project management skills.\nAbility to coach and mentor juniors.\nEagerness to work on new and challenging tasks on a regular basis with an ability to research new ways of doing things better/efficiently.\nContribute to organizational initiatives in wide ranging areas including competency development, training, organizational building activities etc.\nSkills\n\nBasic Qualifications\n\nBachelors Degree with 2+ years of experience in data analytics,\nHands-on experience in Python / SAS or R programing along with strong experience in SQL and Excel Macros.\nExperienced in working with large and multiple datasets, data warehouses and ability to pull data using relevant programs and coding.\nWell versed with necessary data preprocessing and feature engineering skills.\nAt least 2 years of experience implementing Machine learning algorithms such as Random Forest and Gradient Boosting in solving business problems such as Default classification and macroeconomic forecasting.\nAt least 1 year of experience implementing deep learning techniques like neural networks\nExposure to deep learning packages like Tensorflow\nStrong background in Statistical Analysis\nBackground in BFSI space will be preferred\n\nRoleData Analyst\nIndustry TypeBanking\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nrMachine LearningPython\nTensorflowPredictive ModelingSegmentationNeural NetworksDeep LearningRandom ForestSQL\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\nJob Description:\nDevelop data powered insights deriving from distributed, real time streaming applications, and develop AI systems leveraging on such data powered insights.\nLooking for candidates with passion and energy to work in a high energy team with entrepreneurial culture: Self starter attitude, quick learning aptitude, passion and willingness to deliver on time with quality.\n\nJob Skills Required:\nExpert data science skills using supervised and unsupervised learning. Deep learning.\nCompute: Spark/Storm/NiFi/Flink/Redis, or other.\nVisualization: Banana UI, Kibana, or other,\nTools: H2O, TensorFlow, Mlib, Scikit, Keras or other.\nMessaging: Kafka, RabbitMQ, or other.\n\nStrong Analytical and Math/Statistics skills.\n\nQualification :\nM.Tech/M.E./M.S. in Computer Science, Engineering or a related field, preferably with a concentration, major or minor in Data Science or Machine Learning. PhD would be added advantage.\n\nDesired Candidate Profile\nDesirable s that would strengthen candidacy:\n Proven track record from public competitions such as from Kagel, Analytics Vidya, etc. \n\nExpertise in one or more high level programming languages such as Java, Scala, Python, Go, Erlang, etc.\n\nExpertise in developing scalable applications in a distributed environment.\n\nStrong SQL or NoSQL skills with one or more open source DBMS such as MySql, MongoDB, Cassandra.\n\nExpertise in containerized environments on private or public clouds - Aws Azure, etc.\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\ndeep learningKibanatensorflowdata scienceKafkakerasSparkMachine Learning',

In [130]:
len(job_description)

20

In [132]:
Jobs=pd.DataFrame({})
Jobs["Job_title"]= Job_title[:10]
Jobs["Company_name"]= Company_name[:10]
Jobs["Location"]= Job_location[:10]
Jobs["Job_desc"]= job_description[:10]
Jobs

,Job_title,Company_name,Location,Job_desc
0,Lead Data Scientist BFSI,IBM India Pvt. Limited,Bengaluru/Bangalore,--
1,Associate Data Scientist,Philips India Limited,Bangalore/Bengaluru,Job description\nUse predictive modeling to in...
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bengaluru/Bangalore,--
3,SENIOR DATA SCIENTIST,Happiest Minds Technologies Pvt.Ltd,Bangalore/Bengaluru,Job description\n Skills\nRequired Skills: Da...
4,Data Scientist (Python & SQL),AVE-Promagne,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Job description\nRequired Technical and Profes...
5,Sr Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,--
6,Sr Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,--
7,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\nR...
8,Freelance Data Scientist Project Based,Shikvix,Remote,Job description\n\nJob description:\n\nSeeking...
9,Data Scientist,NeenOpal Intelligent Solutions Private Limited,Bangalore/Bengaluru,Job description\nRoles and Responsibilities\nW...

# Q.3

In [3]:
url= "https://www.naukri.com/"
driver.get(url)

In [5]:
search_job=driver.find_element_by_id("qsb-keyword-sugg")
search_job
search_job.send_keys("Data Scientist")

In [6]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn
search_btn.click()

In [12]:
filter_loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
filter_loc
filter_loc.click()

In [14]:
filter_salary=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
filter_salary
filter_salary.click()

In [15]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title
Job_title = []
for i in job_title:
    Job_title.append(i.text)
Job_title

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Analyst/Data Scientist',
 'Data Scientist',
 'Data Scientist/ Machine Learning Engineer',
 'Data Scientist / Data Analyst / Business Analytics - MNC Jobs Freshers',
 'Data Scientist / Data Analyst',
 'Immediate Openings For Data Scientist For Wipro C2H',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-immediate Joiners',
 'Data Scientist - WFH - MIND Infotech',
 'Junior Data Scientists & Engineers',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist Internship',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Hiring Data Scientist Develope || IDS Infotech LTD || (Permanent WFH)',
 'Data Scientist',
 'Data Scientist']

In [16]:
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name
Company_name = []
for i in company_name:
    Company_name.append(i.text)
Company_name

['GABA Consultancy services',
 'Skillenable Fintech Private Limited',
 'PROCESS NINE TECHNOLOGIES PVT.LTD.',
 'Creative Hands HR Consultancy',
 'GABA Consultancy services',
 'CARS24',
 'IDESLABS PRIVATE LIMITED',
 'R Systems International Ltd.',
 'Kusum Healthcare Pvt. Ltd.',
 'Quikruit Consulting LLP',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'PY Consultancy',
 'TalPro',
 'iHackers Inc',
 'Fractal Analytics',
 'inVentiv International Pharma Services Pvt. Ltd.',
 'iNICU',
 'IDS Infotech Ltd.',
 'Sentieo',
 'BlackBuck']

In [19]:
len(Company_name)

20

In [20]:
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
job_location
Job_location = []
for i in job_location:
    Job_location.append(i.text)
Job_location

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahmedabad, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Noida',
 'Delhi / NCR(Okhla)',
 'Noida',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'New Delhi, Delhi / NCR',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi',
 'Chandigarh, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Delhi',
 'Gurgaon, Bengaluru']

In [21]:
len(Job_location)

20

In [22]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span[1]")
exp
Exp_req = []
for i in exp:
    Exp_req.append(i.text)
Exp_req

['0-0 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '4-6 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '0-3 Yrs',
 '2-6 Yrs',
 '0-1 Yrs',
 '3-7 Yrs',
 '3-6 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-7 Yrs']

In [23]:
len(Exp_req)

20

In [24]:
Jobs_delhi=pd.DataFrame({})
Jobs_delhi["Job_title"]= Job_title[:10]
Jobs_delhi["Company_name"]= Company_name[:10]
Jobs_delhi["Location"]= Job_location[:10]
Jobs_delhi["Experience_req"]= Exp_req[:10]
Jobs_delhi

,Job_title,Company_name,Location,Experience_req
0,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
1,Data Analyst/Data Scientist,Skillenable Fintech Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",2-5 Yrs
2,Data Scientist,PROCESS NINE TECHNOLOGIES PVT.LTD.,Gurgaon/Gurugram,1-3 Yrs
3,Data Scientist/ Machine Learning Engineer,Creative Hands HR Consultancy,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",0-0 Yrs
4,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
5,Data Scientist / Data Analyst,CARS24,Gurgaon/Gurugram,1-5 Yrs
6,Immediate Openings For Data Scientist For Wipr...,IDESLABS PRIVATE LIMITED,Gurgaon/Gurugram,5-10 Yrs
7,Data Scientist,R Systems International Ltd.,Noida,3-6 Yrs
8,Data Scientist,Kusum Healthcare Pvt. Ltd.,Delhi / NCR(Okhla),4-6 Yrs
9,Data Scientist-immediate Joiners,Quikruit Consulting LLP,Noida,2-5 Yrs

# Q.4

In [3]:
driver=webdriver.Chrome("chromedriver")

In [4]:
url=" https://www.glassdoor.co.in/index.html"

driver.get(url)

In [5]:
search_job=driver.find_element_by_id("scKeyword")
search_job
search_job.send_keys("Data scientist")
search_location=driver.find_element_by_id("scLocation")
search_location
search_location.send_keys("Noida(India)")

In [6]:
Search_btn=driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm search__SearchStyles__searchKeywordSubmit']")
Search_btn
Search_btn.click()

In [7]:
company_name=driver.find_elements_by_xpath("//a[@class=' job-search-key-l2wjgv e1n63ojh0 jobLink']")
company_name
Company_name = []
for i in company_name:
    Company_name.append(i.text)
Company_name

['Liberin Technologies Private Limited',
 'Noisy Lion',
 'AlgoScale Technologies Private Limited',
 'Grail Insights',
 'Grail Insights',
 'Techlive',
 'Salasar New Age Technologies',
 'IBM',
 'Ericsson',
 'Newgen Software',
 'Salasar New Age Technologies',
 'Genpact',
 'Crowe',
 'Monotype',
 'SearchUrCollege',
 'Lenskart',
 'ING',
 'Biz2Credit Inc',
 'Airtel India',
 'OneAssist Consumer Solutions Private Limited',
 'limeroad.com',
 'WishFin',
 'CRMNEXT',
 'CSTEP',
 'Crypto Mize',
 'Adobe',
 'Emerging India Group',
 'Adobe',
 'NEC Opportunities',
 'xtLytics']

In [8]:
len(Company_name)

30

In [9]:
days_ago=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
days_ago
Days_ago = []
for i in days_ago:
        Days_ago.append(i.text)
Days_ago

['30d+',
 '1d',
 '15d',
 '1d',
 '1d',
 '30d+',
 '30d+',
 '20d',
 '8d',
 '30d+',
 '30d+',
 '3d',
 '30d+',
 '24h',
 '30d+',
 '3d',
 '6d',
 '30d+',
 '21d',
 '1d',
 '15d',
 '30d+',
 '30d',
 '30d+',
 '23d',
 '30d+',
 '30d+',
 '6d',
 '22d',
 '30d+']

In [10]:
len(Days_ago)

30

In [11]:
rating=driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
rating
Rating = []    
for i in rating:
    try:
        Rating.append(i.text)
    except:
        Rating.append('-')
        
Rating

['',
 '3.9',
 '',
 '3.5',
 '3.5',
 '',
 '',
 '3.9',
 '4.1',
 '3.3',
 '',
 '3.8',
 '3.8',
 '3.9',
 '',
 '3.6',
 '4.0',
 '4.2',
 '3.8',
 '3.6',
 '',
 '3.8',
 '3.7',
 '3.2',
 '5.0',
 '4.4',
 '2.4',
 '4.4',
 '',
 '3.0']

In [12]:
for index, x in enumerate(Rating):
    if x=="":
        Rating[index]="-"
print(Rating)

['-', '3.9', '-', '3.5', '3.5', '-', '-', '3.9', '4.1', '3.3', '-', '3.8', '3.8', '3.9', '-', '3.6', '4.0', '4.2', '3.8', '3.6', '-', '3.8', '3.7', '3.2', '5.0', '4.4', '2.4', '4.4', '-', '3.0']

In [13]:
len(Rating)

30

In [14]:
glassdoor=pd.DataFrame({})
glassdoor["Company_Name"]= Company_name[0:10]
glassdoor["Days_ago_the_job_was_posted"]= Days_ago[0:10]
glassdoor["rating"]=Rating[0:10]
glassdoor

                             Company_Name Days_ago_the_job_was_posted rating
0    Liberin Technologies Private Limited                        30d+      -
1                              Noisy Lion                          1d    3.9
2  AlgoScale Technologies Private Limited                         15d      -
3                          Grail Insights                          1d    3.5
4                          Grail Insights                          1d    3.5
5                                Techlive                        30d+      -
6            Salasar New Age Technologies                        30d+      -
7                                     IBM                         20d    3.9
8                                Ericsson                          8d    4.1
9                         Newgen Software                        30d+    3.3


# Q5.

In [15]:
driver=webdriver.Chrome("chromedriver")

In [16]:
url= "https://www.glassdoor.co.in/Salaries/index.html"
driver.get(url)

In [17]:
search_job=driver.find_element_by_id("KeywordSearch")
search_job
search_job.send_keys("Data scientist")
search_location=driver.find_element_by_id("LocationSearch")
search_location
search_location.send_keys("Noida(India)")

In [18]:
Search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
Search_btn
Search_btn.click()

In [23]:
company_name=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
company_name

Company_name=[]
for i in company_name:
    Company_name.append(i.text)
Company_name

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Optum',
 'Optum Global Solutions',
 'Valiance Solutions',
 'EXL Service',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'Nagarro',
 'Innovaccer',
 'OYO',
 'dunnhumby',
 'Amazon',
 'CARS24.com',
 'Vidooly Media Tech',
 'ParallelDots']

In [24]:
len(Company_name)

20

In [25]:
no_of_salaries=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span[1]")
no_of_salaries

No_of_salaries=[]
for i in no_of_salaries:
    No_of_salaries.append(i.text)
No_of_salaries

['21 salaries',
 '20 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '14 salaries',
 '10 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries']

In [21]:
len(No_of_salaries)

20

In [26]:
avg_salaries=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3")
avg_salaries

Avg_salaries=[]
for i in avg_salaries:
    Avg_salaries.append(i.text)
Avg_salaries

['₹6,31,184',
 '₹9,08,246',
 '₹11,93,390',
 '₹12,49,716',
 '₹7,58,335',
 '₹12,80,000',
 '₹13,55,086',
 '₹14,55,430',
 '₹8,86,064',
 '₹11,10,000',
 '₹9,62,227',
 '₹11,71,868',
 '₹11,01,815',
 '₹12,40,275',
 '₹14,51,902',
 '₹11,30,374',
 '₹20,63,782',
 '₹10,80,727',
 '₹35,040',
 '₹8,48,220']

In [29]:
range_salaries=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
range_salaries

Range_salaries=[]
for i in range_salaries:
    Range_salaries.append(i.text)
Range_salaries

['Range: ₹4L - ₹13L',
 'Range: ₹1L - ₹28L',
 'Range: ₹6L - ₹23L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹17L',
 'Range: ₹8L - ₹16L',
 'Range: ₹8L - ₹20L',
 'Range: ₹10L - ₹18L',
 'Range: ₹5L - ₹15L',
 'Range: ₹6L - ₹16L',
 'Range: ₹4L - ₹13L',
 'Range: ₹2L - ₹19L',
 'Range: ₹4L - ₹21L',
 'Range: ₹6L - ₹17L',
 'Range: ₹10L - ₹21L',
 'Range: ₹8L - ₹21L',
 'Range: ₹10L - ₹30L',
 'Range: ₹9L - ₹15L',
 'Range: ₹12T - ₹64T',
 'Range: ₹5L - ₹73L']

In [30]:
min_salaries=[]
max_salaries=[]
for x in Range_salaries:
    temp=x.replace('Range: ','').strip()
    salaries=[]
    salaries=temp.split('-')
    min_salaries.append(salaries[0].strip())
    max_salaries.append(salaries[1].strip())
print(min_salaries)
print(max_salaries)

['₹4L', '₹1L', '₹6L', '₹5L', '₹4L', '₹8L', '₹8L', '₹10L', '₹5L', '₹6L', '₹4L', '₹2L', '₹4L', '₹6L', '₹10L', '₹8L', '₹10L', '₹9L', '₹12T', '₹5L']
['₹13L', '₹28L', '₹23L', '₹1Cr', '₹17L', '₹16L', '₹20L', '₹18L', '₹15L', '₹16L', '₹13L', '₹19L', '₹21L', '₹17L', '₹21L', '₹21L', '₹30L', '₹15L', '₹64T', '₹73L']

In [31]:
len(max_salaries)

20

In [32]:
len(min_salaries)

20

In [33]:
glassdoor_salaries=pd.DataFrame({})
glassdoor_salaries["company_name"]=Company_name[0:10]
glassdoor_salaries["no_of_salaries"]=No_of_salaries[0:10]
glassdoor_salaries["Avg salary"]=Avg_salaries[0:10]
glassdoor_salaries["Min salary"]=min_salaries[0:10]
glassdoor_salaries["Max salary"]=max_salaries[0:10]
glassdoor_salaries

                company_name no_of_salaries  Avg salary Min salary Max salary
0  Tata Consultancy Services    21 salaries   ₹6,31,184        ₹4L       ₹13L
1                        IBM    20 salaries   ₹9,08,246        ₹1L       ₹28L
2                  Accenture    15 salaries  ₹11,93,390        ₹6L       ₹23L
3                  Delhivery    15 salaries  ₹12,49,716        ₹5L       ₹1Cr
4         Ericsson-Worldwide    14 salaries   ₹7,58,335        ₹4L       ₹17L
5         UnitedHealth Group    14 salaries  ₹12,80,000        ₹8L       ₹16L
6                      Optum    10 salaries  ₹13,55,086        ₹8L       ₹20L
7     Optum Global Solutions    10 salaries  ₹14,55,430       ₹10L       ₹18L
8         Valiance Solutions    10 salaries   ₹8,86,064        ₹5L       ₹15L
9                EXL Service     9 salaries  ₹11,10,000        ₹6L       ₹16L

# Q6.

In [34]:
driver=webdriver.Chrome("chromedriver")
driver

In [73]:
url=" https://www.flipkart.com/"
driver.get(url)
driver.maximize_window()

In [74]:
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar
search_bar.send_keys("sunglasses")

In [75]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn
search_btn.click()

In [80]:
Brand=[]
for i in range(0,3):
    try:
        brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [81]:
Brand

['PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Elligator',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'NuVew',
 'NuVew',
 'SUNBEE',
 'DEIXELS',
 'PHENOMENAL',
 'NuVew',
 'Rich Club',
 'HIPPON',
 'GANSTA',
 'PIRASO',
 'OCCARIO',
 'Silver Kartz',
 'Singco India',
 'AISLIN',
 'hipe',
 'Singco',
 'povty',
 'AISLIN',
 'SRPM',
 'Cruze',
 'Fravy',
 'AISLIN',
 'AISLIN',
 'IRUS by IDEE',
 'Badfella',
 'AISLIN',
 'agera',
 'elegante',
 'Fastrack',
 'AISLIN',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Elligator',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'NuVew',
 'NuVew',
 'SUNBEE',
 'DEIXELS',
 'PHENOMENAL',
 'NuVew',
 'Rich Club',
 'HIPPON',
 'GANSTA',
 'PIRASO',
 'OCCARIO',
 'Silver Kartz',
 'Singco India',
 'AISLIN',
 'hipe',
 'Singco',
 'povty',
 'AISLIN',
 'SRPM',
 'Cruze',
 'Fravy',
 'AISLIN',
 'AISLIN',
 'IRUS by IDEE',
 'Badfella',
 'AISLIN',
 'agera',
 'elegante',
 'Fastrack',
 'AISLIN',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'Elligator',
 'PIRASO',
 'kingsunglasses',
 'Fastrack',
 'AISLIN',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'NuVew',
 'NuVew',
 'SUNBEE',
 'DEIXELS',
 'PHENOMENAL',
 'NuVew',
 'Rich Club',
 'HIPPON',
 'GANSTA',
 'PIRASO',
 'OCCARIO',
 'Silver Kartz',
 'Singco India',
 'AISLIN',
 'hipe',
 'Singco',
 'povty',
 'AISLIN',
 'SRPM',
 'Cruze',
 'Fravy',
 'AISLIN',
 'AISLIN',
 'IRUS by IDEE',
 'Badfella',
 'AISLIN',
 'agera',
 'elegante',
 'Fastrack',
 'AISLIN']

In [82]:
len(Brand)

120

In [83]:
Price=[]
for i in range(0,3):
    try:
        price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
        for i in price:
            Price.append(i.text)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [47]:
Price

['₹213',
 '₹331',
 '₹237',
 '₹398',
 '₹449',
 '₹474',
 '₹202',
 '₹1,087',
 '₹355',
 '₹284',
 '₹284',
 '₹525',
 '₹399',
 '₹236',
 '₹210',
 '₹845',
 '₹293',
 '₹299',
 '₹284',
 '₹1,025',
 '₹625',
 '₹520',
 '₹215',
 '₹1,145',
 '₹284',
 '₹499',
 '₹237',
 '₹495',
 '₹379',
 '₹443',
 '₹295',
 '₹404',
 '₹289',
 '₹210',
 '₹314',
 '₹975',
 '₹225',
 '₹186',
 '₹598',
 '₹625',
 '₹213',
 '₹331',
 '₹237',
 '₹398',
 '₹449',
 '₹474',
 '₹202',
 '₹1,087',
 '₹355',
 '₹284',
 '₹284',
 '₹525',
 '₹399',
 '₹236',
 '₹210',
 '₹845',
 '₹293',
 '₹299',
 '₹284',
 '₹1,025',
 '₹625',
 '₹520',
 '₹215',
 '₹1,145',
 '₹284',
 '₹499',
 '₹237',
 '₹495',
 '₹379',
 '₹443',
 '₹295',
 '₹404',
 '₹289',
 '₹210',
 '₹314',
 '₹975',
 '₹225',
 '₹186',
 '₹598',
 '₹625',
 '₹213',
 '₹331',
 '₹237',
 '₹398',
 '₹449',
 '₹474',
 '₹202',
 '₹1,087',
 '₹355',
 '₹284',
 '₹284',
 '₹525',
 '₹399',
 '₹236',
 '₹210',
 '₹845',
 '₹293',
 '₹299',
 '₹284',
 '₹1,025',
 '₹625',
 '₹520',
 '₹215',
 '₹1,145',
 '₹284',
 '₹499',
 '₹237',
 '₹495',
 '₹379',
 '₹443',
 '₹295',
 '₹404',
 '₹289',
 '₹210',
 '₹314',
 '₹975',
 '₹225',
 '₹186',
 '₹598',
 '₹625']

In [84]:
len(Price)

120

In [85]:
Discount=[]
for i in range(0,3):
    try:
        discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [86]:
Discount

['80% off',
 '78% off',
 '85% off',
 '85% off',
 '79% off',
 '68% off',
 '74% off',
 '40% off',
 '85% off',
 '85% off',
 '71% off',
 '85% off',
 '80% off',
 '60% off',
 '78% off',
 '54% off',
 '82% off',
 '62% off',
 '76% off',
 '79% off',
 '72% off',
 '34% off',
 '80% off',
 '64% off',
 '89% off',
 '77% off',
 '85% off',
 '79% off',
 '74% off',
 '70% off',
 '87% off',
 '79% off',
 '83% off',
 '75% off',
 '85% off',
 '68% off',
 '67% off',
 '72% off',
 '70% off',
 '70% off',
 '80% off',
 '78% off',
 '85% off',
 '85% off',
 '79% off',
 '68% off',
 '74% off',
 '40% off',
 '85% off',
 '85% off',
 '71% off',
 '85% off',
 '80% off',
 '60% off',
 '78% off',
 '54% off',
 '82% off',
 '62% off',
 '76% off',
 '79% off',
 '72% off',
 '34% off',
 '80% off',
 '64% off',
 '89% off',
 '77% off',
 '85% off',
 '79% off',
 '74% off',
 '70% off',
 '87% off',
 '79% off',
 '83% off',
 '75% off',
 '85% off',
 '68% off',
 '67% off',
 '72% off',
 '70% off',
 '70% off',
 '80% off',
 '78% off',
 '85% off',
 '85% off',
 '79% off',
 '68% off',
 '74% off',
 '40% off',
 '85% off',
 '85% off',
 '71% off',
 '85% off',
 '80% off',
 '60% off',
 '78% off',
 '54% off',
 '82% off',
 '62% off',
 '76% off',
 '79% off',
 '72% off',
 '34% off',
 '80% off',
 '64% off',
 '89% off',
 '77% off',
 '85% off',
 '79% off',
 '74% off',
 '70% off',
 '87% off',
 '79% off',
 '83% off',
 '75% off',
 '85% off',
 '68% off',
 '67% off',
 '72% off',
 '70% off',
 '70% off']

In [87]:
len(Discount)

120

In [88]:
Product_des=[]
for i in range(0,3):
    try:
        product_des=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [89]:
Product_des

['UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Aviator Sunglasses (60)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Over-sized Sunglasses...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Aviator Sunglasses (60)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Over-sized Sunglasses...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Round Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection, Night Vision, Gradient, Mirrored Round, ...',
 'UV Protection Aviator Sunglasses (60)',
 'Riding Glasses, Others, UV Protection Wrap-around Sungl...',
 'UV Protection, Others Round Sunglasses (48)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Gradient Aviator Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection, Gradient Wayfarer, Over-sized Sunglasses...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)']

In [90]:
len(Product_des)

120

In [91]:
flipkart=pd.DataFrame({})
flipkart["Brand_name"]=Brand[0:100]
flipkart["Price"]=Price[0:100]
flipkart["Discount"]=Discount[0:100]
flipkart["Product_des"]=Product_des[0:100]
flipkart

,Brand_name,Price,Discount,Product_des
0,PIRASO,₹213,80% off,UV Protection Round Sunglasses (54)
1,PIRASO,₹215,78% off,"UV Protection, Polarized, Mirrored Rectangular..."
2,SHAAH COLLECTIONS,₹237,85% off,UV Protection Aviator Sunglasses (54)
3,Elligator,₹237,85% off,UV Protection Wayfarer Sunglasses (32)
4,PIRASO,₹449,79% off,"UV Protection, Riding Glasses Rectangular Sung..."
...,...,...,...,...
95,NuVew,"₹1,489",54% off,UV Protection Aviator Sunglasses (60)
96,Rich Club,₹293,82% off,"Riding Glasses, Others, UV Protection Wrap-aro..."
97,HIPPON,₹299,62% off,"UV Protection, Others Round Sunglasses (48)"
98,GANSTA,₹284,76% off,UV Protection Oval Sunglasses (56)
99,PIRASO,₹331,79% off,UV Protection Aviator Sunglasses (50)

# Q7.

In [92]:
driver=webdriver.Chrome("chromedriver")

In [93]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [94]:
Rating=[]
for i in range(0,10):
    try:
        rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for i in rating:
            Rating.append(i.text)
    except:
        Rating.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [95]:
Rating

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5']

In [96]:
len(Rating)

100

In [99]:
Review=[]
for i in range(0,10):
    try:
        review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for i in review:
            Review.append(i.text)
    except:
        Review.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [100]:
Review

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Classy product',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Simply awesome',
 'Worth every penny',
 'Terrific']

In [101]:
len(Review)

100

In [103]:
Full_Review=[]
for i in range(0,10):
    try:
        full_Review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for i in full_Review:
            Full_Review.append(i.text)
    except:
        Full_Review.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [104]:
Full_Review

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'Really worth of money. i just love it. It is the best phone ever.',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',

In [105]:
len(Full_Review)

100

In [106]:
iphone=pd.DataFrame({})
iphone["rating"]=Rating
iphone["Review"]=Review
iphone["Full_Review"]=Full_Review
iphone

,rating,Review,Full_Review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Classy product,Totally in love with this ❤ the camera quality...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
96,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
97,4,Simply awesome,"Excellent camera, good performance, no lag. Th..."
98,5,Worth every penny,It’s been almost a month since I have been usi...
99,5,Terrific,Really worth of money. i just love it. It is t...

# Q8.

In [109]:
driver=webdriver.Chrome("chromedriver")
driver

In [110]:
url=" https://www.flipkart.com/"
driver.get(url)
driver.maximize_window()

In [111]:
search_bar=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar
search_bar.send_keys("sneakers")

In [112]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn
search_btn.click()

In [137]:
Brand=[]
for i in range(0,3):
    try:
        brand=driver.find_elements_by_xpath("//div[starts-with(@class,'_2WkVRV')]")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [138]:
Brand

['BRUTON',
 'tigonis',
 'Chevit',
 'BRUTON',
 'ASTEROID',
 'Chevit',
 'Longwalk',
 'PROVOGUE',
 'luxury fashion',
 'Magnolia',
 'PEHANOSA',
 'DUCATI',
 'Creer',
 'SCATCHITE',
 'BIRDE',
 'KNIGHT WALKERS',
 'Numenzo',
 'ASTEROID',
 'Numenzo',
 'PROVOGUE',
 'RODDICK SHOES',
 'Shoes Bank',
 'VIPSJAZZY',
 'PROVOGUE',
 'Arohi',
 'Kreverse',
 'World Wear Footwear',
 'PROVOGUE',
 'Numenzo',
 'Absolute comfort',
 'Kraasa',
 'French Connection',
 'SPARX',
 'believe',
 'Jack Diamond',
 'BRUTON',
 'Airland',
 'SHOEFLY',
 'Zsyto',
 'sixXplus',
 'BRUTON',
 'tigonis',
 'Chevit',
 'BRUTON',
 'ASTEROID',
 'Chevit',
 'Longwalk',
 'PROVOGUE',
 'luxury fashion',
 'Magnolia',
 'PEHANOSA',
 'DUCATI',
 'Creer',
 'SCATCHITE',
 'BIRDE',
 'KNIGHT WALKERS',
 'Numenzo',
 'ASTEROID',
 'Numenzo',
 'PROVOGUE',
 'RODDICK SHOES',
 'Shoes Bank',
 'VIPSJAZZY',
 'PROVOGUE',
 'Arohi',
 'Kreverse',
 'World Wear Footwear',
 'PROVOGUE',
 'Numenzo',
 'Absolute comfort',
 'Kraasa',
 'French Connection',
 'SPARX',
 'believe',
 'Jack Diamond',
 'BRUTON',
 'Airland',
 'SHOEFLY',
 'Zsyto',
 'sixXplus',
 'BRUTON',
 'tigonis',
 'Chevit',
 'BRUTON',
 'ASTEROID',
 'Chevit',
 'Longwalk',
 'PROVOGUE',
 'luxury fashion',
 'Magnolia',
 'PEHANOSA',
 'DUCATI',
 'Creer',
 'SCATCHITE',
 'BIRDE',
 'KNIGHT WALKERS',
 'Numenzo',
 'ASTEROID',
 'Numenzo',
 'PROVOGUE',
 'RODDICK SHOES',
 'Shoes Bank',
 'VIPSJAZZY',
 'PROVOGUE',
 'Arohi',
 'Kreverse',
 'World Wear Footwear',
 'PROVOGUE',
 'Numenzo',
 'Absolute comfort',
 'Kraasa',
 'French Connection',
 'SPARX',
 'believe',
 'Jack Diamond',
 'BRUTON',
 'Airland',
 'SHOEFLY',
 'Zsyto',
 'sixXplus']

In [117]:
len(Brand)

120

In [140]:
Price=[]
for i in range(0,3):
    try:
        price=driver.find_elements_by_xpath("//div[starts-with(@class,'_30jeq3')]")
        for i in price:
            Price.append(i.text)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [141]:
Price

['₹444',
 '₹399',
 '₹536',
 '₹474',
 '₹499',
 '₹447',
 '₹236',
 '₹789',
 '₹449',
 '₹356',
 '₹371',
 '₹1,289',
 '₹398',
 '₹398',
 '₹359',
 '₹599',
 '₹429',
 '₹499',
 '₹449',
 '₹789',
 '₹474',
 '₹349',
 '₹399',
 '₹789',
 '₹460',
 '₹266',
 '₹240',
 '₹789',
 '₹398',
 '₹198',
 '₹444',
 '₹969',
 '₹649',
 '₹449',
 '₹630',
 '₹420',
 '₹250',
 '₹362',
 '₹398',
 '₹499',
 '₹447',
 '₹236',
 '₹474',
 '₹399',
 '₹449',
 '₹444',
 '₹399',
 '₹536',
 '₹474',
 '₹499',
 '₹447',
 '₹236',
 '₹789',
 '₹449',
 '₹356',
 '₹371',
 '₹1,289',
 '₹398',
 '₹398',
 '₹359',
 '₹599',
 '₹429',
 '₹499',
 '₹449',
 '₹789',
 '₹474',
 '₹349',
 '₹399',
 '₹789',
 '₹460',
 '₹266',
 '₹240',
 '₹789',
 '₹398',
 '₹198',
 '₹444',
 '₹969',
 '₹649',
 '₹449',
 '₹630',
 '₹420',
 '₹250',
 '₹362',
 '₹398',
 '₹499',
 '₹447',
 '₹236',
 '₹474',
 '₹399',
 '₹449',
 '₹444',
 '₹399',
 '₹536',
 '₹474',
 '₹499',
 '₹447',
 '₹236',
 '₹789',
 '₹449',
 '₹356',
 '₹371',
 '₹1,289',
 '₹398',
 '₹398',
 '₹359',
 '₹599',
 '₹429',
 '₹499',
 '₹449',
 '₹789',
 '₹474',
 '₹349',
 '₹399',
 '₹789',
 '₹460',
 '₹266',
 '₹240',
 '₹789',
 '₹398',
 '₹198',
 '₹444',
 '₹969',
 '₹649',
 '₹449',
 '₹630',
 '₹420',
 '₹250',
 '₹362',
 '₹398',
 '₹499',
 '₹447',
 '₹236',
 '₹474',
 '₹399',
 '₹449']

In [120]:
len(Price)

120

In [142]:
Discount=[]
for i in range(0,3):
    try:
        discount=driver.find_elements_by_xpath("//div[starts-with(@class,'_3Ay6Sb')]")
        for i in discount:
            Discount.append(i.text)
    except:
        Discount.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [143]:
Discount

['82% off',
 '60% off',
 '66% off',
 '86% off',
 '75% off',
 '75% off',
 '52% off',
 '64% off',
 '65% off',
 '64% off',
 '62% off',
 '55% off',
 '60% off',
 '60% off',
 '28% off',
 '55% off',
 '66% off',
 '50% off',
 '77% off',
 '65% off',
 '52% off',
 '65% off',
 '60% off',
 '80% off',
 '53% off',
 '73% off',
 '51% off',
 '80% off',
 '60% off',
 '60% off',
 '55% off',
 '60% off',
 '7% off',
 '55% off',
 '36% off',
 '64% off',
 '49% off',
 '72% off',
 '69% off',
 '64% off',
 '75% off',
 '52% off',
 '86% off',
 '60% off',
 '55% off',
 '82% off',
 '60% off',
 '66% off',
 '86% off',
 '75% off',
 '75% off',
 '52% off',
 '64% off',
 '65% off',
 '64% off',
 '62% off',
 '55% off',
 '60% off',
 '60% off',
 '28% off',
 '55% off',
 '66% off',
 '50% off',
 '77% off',
 '65% off',
 '52% off',
 '65% off',
 '60% off',
 '80% off',
 '53% off',
 '73% off',
 '51% off',
 '80% off',
 '60% off',
 '60% off',
 '55% off',
 '60% off',
 '7% off',
 '55% off',
 '36% off',
 '64% off',
 '49% off',
 '72% off',
 '69% off',
 '64% off',
 '75% off',
 '52% off',
 '86% off',
 '60% off',
 '55% off',
 '82% off',
 '60% off',
 '66% off',
 '86% off',
 '75% off',
 '75% off',
 '52% off',
 '64% off',
 '65% off',
 '64% off',
 '62% off',
 '55% off',
 '60% off',
 '60% off',
 '28% off',
 '55% off',
 '66% off',
 '50% off',
 '77% off',
 '65% off',
 '52% off',
 '65% off',
 '60% off',
 '80% off',
 '53% off',
 '73% off',
 '51% off',
 '80% off',
 '60% off',
 '60% off',
 '55% off',
 '60% off',
 '7% off',
 '55% off',
 '36% off',
 '64% off',
 '49% off',
 '72% off',
 '69% off',
 '64% off',
 '75% off',
 '52% off',
 '86% off',
 '60% off',
 '55% off']

In [123]:
len(Discount)

120

In [144]:
Product_des=[]
for i in range(0,3):
    try:
        product_des=driver.find_elements_by_xpath("//a[starts-with(@class,'IRpwTa')]")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
if next_button.text=="NEXT":
    next_button.click()

In [145]:
Product_des

['Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Men Boxer Sneakers For Men',
 'Sneakers For Men',
 'New Collection Pair of Stylish Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 'SOFT Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'SM439G Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Canvas Sneaker Sneakers For Men',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'shoe Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Men Boxer Sneakers For Men',
 'Sneakers For Men',
 'New Collection Pair of Stylish Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 'SOFT Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'SM439G Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Canvas Sneaker Sneakers For Men',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'shoe Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "Luxury Branded Fashionable Men's Casual Walking Partywe...",
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Men Boxer Sneakers For Men',
 'Sneakers For Men',
 'New Collection Pair of Stylish Shoe Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Birde Trendy Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 'SOFT Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'SM439G Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Canvas Sneaker Sneakers For Men',
 'Men Combo Pack of 2 Sports Shoes & Casual Sneakers For ...',
 'shoe Sneakers For Men',
 'Combo Men Pack of 2 Loafers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [146]:
len(Product_des)

120

In [147]:
sneakers=pd.DataFrame({})
sneakers["Brand"]=Brand[0:100]
sneakers["Price"]=Price[0:100]
sneakers["Discount"]=Discount[0:100]
sneakers["Product_des"]=Product_des[0:100]
sneakers

,Brand,Price,Discount,Product_des
0,BRUTON,₹444,82% off,Modern & Trendy Collection Combo Pack of 02 Sh...
1,tigonis,₹399,60% off,Luxury Branded Fashionable Men's Casual Walkin...
2,Chevit,₹536,66% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...
3,BRUTON,₹474,86% off,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
4,ASTEROID,₹499,75% off,Original Luxury Branded Fashionable Men's Casu...
...,...,...,...,...
95,KNIGHT WALKERS,₹447,75% off,Sneakers For Men
96,Numenzo,₹236,52% off,Sneakers For Men
97,ASTEROID,₹789,64% off,Original Luxury Branded Fashionable Men's Casu...
98,Numenzo,₹449,65% off,Sneakers For Men
99,PROVOGUE,₹356,64% off,Sneakers For Men

# Q9.

In [210]:
import selenium
import pandas as pd
from selenium import webdriver

In [211]:
driver=webdriver.Chrome("chromedriver")

In [212]:
url= "https://www.myntra.com/shoes"
driver.get(url)

In [224]:
fil_price=driver.find_element_by_xpath("//ul[@class='price-list']//li[2]")
fil_price

In [225]:
fil_price.click()

In [215]:
fil_color=driver.find_element_by_xpath("//li[@class='colour-listItem']//label")
fil_color

In [216]:
fil_color.click()

In [229]:
Brand=[]
for i in range(0,2):
    try:
       
        brand=driver.find_elements_by_xpath("//h3[starts-with(@class,'product-brand')]")
        for i in brand:
            Brand.append(i.text)
    except:
        Brand.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

In [230]:
Brand

['Puma',
 'Puma',
 'Puma',
 'FORCLAZ By Decathlon',
 'Kalenji By Decathlon',
 'Quechua By Decathlon',
 'UNDER ARMOUR',
 'ASICS',
 'Saint G',
 'Geox',
 'Saint G',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Geox',
 'Hush Puppies',
 'DAVINCHI',
 'ALDO',
 'Puma',
 'Puma',
 'Puma',
 'ROSSO BRUNELLO',
 'UNDER ARMOUR',
 'Puma',
 'J.FONTINI',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Calvin Klein',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'J.FONTINI',
 'Puma',
 'PUMA Motorsport',
 'ASICS',
 'Puma',
 'ASICS',
 'PUMA Hoops',
 'Puma',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'PUMA Motorsport',
 'Puma',
 'Puma',
 'Puma',
 'FORCLAZ By Decathlon',
 'Kalenji By Decathlon',
 'Quechua By Decathlon',
 'UNDER ARMOUR',
 'ASICS',
 'Saint G',
 'Geox',
 'Saint G',
 'Hush Puppies',
 'Hush Puppies',
 'Nike',
 'Hush Puppies',
 'Geox',
 'Geox',
 'Geox',
 'Hush Puppies',
 'DAVINCHI',
 'ALDO',
 'Puma',
 'Puma',
 'Puma',
 'ROSSO BRUNELLO',
 'UNDER ARMOUR',
 'Puma',
 'J.FONTINI',
 'UNDER ARMOUR',
 'Hush Puppies',
 'Puma',
 'Puma',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Calvin Klein',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'J.FONTINI',
 'Puma',
 'PUMA Motorsport',
 'ASICS',
 'Puma',
 'ASICS',
 'PUMA Hoops',
 'Puma',
 'Geox',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'PUMA Motorsport']

In [231]:
len(Brand)

100

In [278]:
Price=[]
for i in range(0,2):
    try:
        price=driver.find_elements_by_xpath("//div[starts-with(@class,'product-price')]")
        for i in price:
            value = i.text
            if value.count("Rs")==2 :
                index = value.rindex("Rs")
                temp=value[:index]
                Price.append(temp)
            else:
                Price.append(value)
    except:
        Price.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

In [279]:
Price

['Rs. 10999',
 'Rs. 12749',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7773',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 11305',
 'Rs. 8999',
 'Rs. 9975',
 'Rs. 8999',
 'Rs. 8099',
 'Rs. 7195',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 11242',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7149',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 7649',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 11199',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 10999',
 'Rs. 7499',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 10999',
 'Rs. 12749',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 7773',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 11305',
 'Rs. 8999',
 'Rs. 9975',
 'Rs. 8999',
 'Rs. 8099',
 'Rs. 7195',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 11242',
 'Rs. 8999',
 'Rs. 8990',
 'Rs. 11999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 10999',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7149',
 'Rs. 6999',
 'Rs. 7499',
 'Rs. 7649',
 'Rs. 9999',
 'Rs. 7999',
 'Rs. 12999',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 11199',
 'Rs. 8999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 10999',
 'Rs. 7499',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 9999',
 'Rs. 9999']

In [257]:
len(Price)

100

In [271]:
Product_des=[]
for i in range(0,2):
    try:
        product_des=driver.find_elements_by_xpath("//h4[starts-with(@class,'product-product')]")
        for i in product_des:
            Product_des.append(i.text)
    except:
        Product_des.append("-")
next_button=driver.find_element_by_xpath("//a[@rel='next']")
next_button.click()

In [272]:
Product_des

['Men Velocity Nitro Running',
 'Men Football Shoes',
 'Men Cell Fraction Fade Running',
 'TREKKING 100 Boots',
 'Men KD500 Running Shoe',
 'Men Trekking Shoes',
 'Men HOVR Infinite Running',
 'Men Black Running Sports Shoes',
 'Men Leather Chelsea Boots',
 'Men Leather Formal Slip-Ons',
 'Men Textured Leather Formal Loafers',
 'Men Formal Derbys',
 'Men Solid Leather Formal Slip-Ons',
 "Men BlazerLow '77 Sneakers",
 'Men Solid Leather Formal Derbys',
 'Men Solid Sneakers',
 'Men Sneakers',
 'Men Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Formal Leather Loafers',
 'Men Driving Shoes',
 'Men Printed Slip-On Sneakers',
 'Men BlackTraining or Gym Shoes',
 'Mesh Hybrid Fuego Running',
 'Women Deviate Nitro Running',
 'Men FUSE Training Shoes',
 'Women HOVR Sonic 4 Running',
 'Women HOVR Sonic 4 FnRn',
 'Men Black Shoes',
 'Men Leather Slip-On Sneakers',
 'Women Eternity Nitro Running',
 'Women Charged Assert 8 Running',
 'Men Leather Flat Boots',
 'Women Charged Impulse Shft',
 'Men Loafers',
 'Men HOVR Sonic STRT Tech Shoes',
 'Women Charged Vantage ClrShft',
 'Men Jamming 2.0 Running Shoes',
 'Men Solid Loafers',
 'Women GlideRide Running Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Liberate NITRO Running',
 'Women Running Shoes',
 'Unisex Clyde Basketball Shoes',
 'Women Provoke XT FTR Shoes',
 'Men Leather Flat Boots',
 'Women Charged Bandit 6 Running',
 'Unisex Leather Trainers',
 'Unisex FerrariRS-Fast Sneakers',
 'Women Charged Rogue 2.5ClrSft',
 'Men Velocity Nitro Running',
 'Men Football Shoes',
 'Men Cell Fraction Fade Running',
 'TREKKING 100 Boots',
 'Men KD500 Running Shoe',
 'Men Trekking Shoes',
 'Men HOVR Infinite Running',
 'Men Black Running Sports Shoes',
 'Men Leather Chelsea Boots',
 'Men Leather Formal Slip-Ons',
 'Men Textured Leather Formal Loafers',
 'Men Formal Derbys',
 'Men Solid Leather Formal Slip-Ons',
 "Men BlazerLow '77 Sneakers",
 'Men Solid Leather Formal Derbys',
 'Men Solid Sneakers',
 'Men Sneakers',
 'Men Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Textured Formal Leather Loafers',
 'Men Driving Shoes',
 'Men Printed Slip-On Sneakers',
 'Men BlackTraining or Gym Shoes',
 'Mesh Hybrid Fuego Running',
 'Women Deviate Nitro Running',
 'Men FUSE Training Shoes',
 'Women HOVR Sonic 4 Running',
 'Women HOVR Sonic 4 FnRn',
 'Men Black Shoes',
 'Men Leather Slip-On Sneakers',
 'Women Eternity Nitro Running',
 'Women Charged Assert 8 Running',
 'Men Leather Flat Boots',
 'Women Charged Impulse Shft',
 'Men Loafers',
 'Men HOVR Sonic STRT Tech Shoes',
 'Women Charged Vantage ClrShft',
 'Men Jamming 2.0 Running Shoes',
 'Men Solid Loafers',
 'Women GlideRide Running Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Liberate NITRO Running',
 'Women Running Shoes',
 'Unisex Clyde Basketball Shoes',
 'Women Provoke XT FTR Shoes',
 'Men Leather Flat Boots',
 'Women Charged Bandit 6 Running',
 'Unisex Leather Trainers',
 'Unisex FerrariRS-Fast Sneakers',
 'Women Charged Rogue 2.5ClrSft']

In [273]:
len(Product_des)

100

In [274]:
myntra=pd.DataFrame({})
myntra["Brand"]=Brand
myntra["Price"]=Price
myntra["Product_des"]=Product_des
myntra

                   Brand      Price                     Product_des
0                   Puma  Rs. 10999      Men Velocity Nitro Running
1                   Puma  Rs. 12749              Men Football Shoes
2                   Puma   Rs. 6999  Men Cell Fraction Fade Running
3   FORCLAZ By Decathlon   Rs. 6999              TREKKING 100 Boots
4   Kalenji By Decathlon   Rs. 7773          Men KD500 Running Shoe
..                   ...        ...                             ...
95                  Geox  Rs. 11999          Men Leather Flat Boots
96          UNDER ARMOUR   Rs. 8999  Women Charged Bandit 6 Running
97                  Geox   Rs. 9999         Unisex Leather Trainers
98                  Puma   Rs. 9999  Unisex FerrariRS-Fast Sneakers
99       PUMA Motorsport   Rs. 7999   Women Charged Rogue 2.5ClrSft

[100 rows x 3 columns]

# Q10.

In [305]:
driver=webdriver.Chrome("chromedriver")

In [306]:
url= "https://www.amazon.in/"
driver.get(url)

In [307]:
search_product= driver.find_element_by_id("twotabsearchtextbox")
search_product
search_product.send_keys("Laptop")

In [308]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn
search_btn.click()

In [309]:
filter_cpu=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/12598163031']//div")
filter_cpu
filter_cpu.click()

In [311]:
filter_cpu1=driver.find_element_by_xpath("//li[@id='p_n_feature_thirteen_browse-bin/16757432031']//div")
filter_cpu1
filter_cpu1.click()

In [312]:
product_name=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none']//h2")
product_name
Product_name= []
for i in product_name[0:10]:
    
    Product_name.append(i.text)
Product_name

['HP Envy 11th Gen Core i7 Processor 13.3-inch (33.78 cms) FHD Touchscreen Laptop (16GB/1TB SSD/Win 10/NVIDIA MX450 2GB/Natural Silver/1.3 kg), 13-ba1018TX',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'Lenovo IdeaPad S540 11th Gen Intel Core i7 13.3" QHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Intel Iris Xe Graphics/Iron Grey/1.28Kg), 82H1002CIN',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Lenovo Digital Pen/Slate Grey/Aluminium Surface/1.43Kg), 82BH00E0IN',
 'ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics Gaming Laptop (16GB RAM/512GB SSD/Windows 10/Gray/2 kg), FX516PC-HN063T',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14"(35.56cm) FHD IPS 2-in-1 Touchscreen Laptop(16GB/512GB SSD/Windows 10/MS Office/Lenovo Digital Pen/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6" FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Win10/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33.78cm) FHD IPS 400Nits 2-in1 Touch Convertible Laptop (16GB/1TB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/Black/997gms), 4ZR1D71993',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN']

In [313]:
len(Product_name)

10

In [314]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price
Price= []
for i in price[0:10]:
    
    Price.append(i.text)
Price

['1,23,350',
 '57,990',
 '77,990',
 '97,989',
 '84,990',
 '97,600',
 '73,990',
 '92,990',
 '1,07,990',
 '74,990']

In [315]:
len(Price)

10

In [328]:
rating_url=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
rating_url
Rating_url= []
for i in rating_url:
    
    Rating_url.append(i.get_attribute('href'))
Rating_url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A10081262K6KZOZ37JXYV&url=%2FHP-Processor-13-3-inch-Touchscreen-13-ba1018TX%2Fdp%2FB091FJ13Q5%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1631459000%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1631459000&id=4713687789016769&widgetName=sp_atf',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/Lenovo-IdeaPad-Windows-Graphics-82H1002CIN/dp/B094XJPQ6N/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/Lenovo-Touchscreen-Windows-Aluminium-82BH00E0IN/dp/B0999929LG/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN063T/dp/B096KVJ5PC/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Lenovo-IdeaPad-250Nits-Graphics-81Y4019EIN/dp/B097TZMG7R/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Fujitsu-33-78cm-Convertible-Graphics-4ZR1D71993/dp/B098P4M233/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/ASUS-17-3-inch-i7-11800H-GeForce-RTX-3050-Ti-FX766HE-HX022T/dp/B0987S6PG1/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/HP-Processor-13-3-inch-Touchscreen-13-ba1018TX/dp/B091FJ13Q5/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A00766773MSMG2AO2CGIQ&url=%2FAcer-Swift-Display-Touchscreen-Notebook%2Fdp%2FB08M41DHTV%2Fref%3Dsr_1_14_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1631459000%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-14-spons%26psc%3D1&qualifier=1631459000&id=4713687789016769&widgetName=sp_mtf',
 'https://www.amazon.in/Acer-39-62cms-Graphics-GeForce-AN515-57/dp/B09C8HZMW2/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-i7-1165G7-Inspiron-5410-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/ASUS-i7-1165G7-35-56cms-Graphics-UX325EA-KG701TS/dp/B095C55Q7P/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/13-3-inch-TOUCHSCREEN-Integrated-Graphics-EliteBook/dp/B09CMZLGYG/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ2ZKRS/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4DZ5N/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM701TS/dp/B08PQTZB3Z/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ4DKF6/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/ASUS-VivoBook-S532EQ-BQ702TS-I7-1165G7-SILVER/dp/B08PZ3VRCS/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/15-6-inch-HP-ZBook-15-Workstation/dp/B09DQ33KWV/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1631459000&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26']

In [298]:
len(price)

23

In [330]:
Rating=[]
for i in Rating_url[0:10]:
    driver.get(i)
    
    try:
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Rating.append(rating.text)
    except:
        Rating.append("--")
Rating

['4.1 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '2.4 out of 5',
 '3.3 out of 5',
 '4.1 out of 5',
 '4.4 out of 5',
 '5 out of 5',
 '4.1 out of 5',
 '4 out of 5',
 '--',
 '4.1 out of 5',
 '4.4 out of 5',
 '3.7 out of 5',
 '5 out of 5',
 '4.3 out of 5',
 '4.2 out of 5',
 '4.1 out of 5',
 '--',
 '--',
 '5 out of 5',
 '4 out of 5',
 '4.3 out of 5',
 '--',
 '4.2 out of 5',
 '--']

In [331]:
len(Rating)

26

In [332]:
amazon=pd.DataFrame({})
amazon['Product_name']=Product_name
amazon['Price']=Price
amazon['Product_rating']=Rating[0:10]
amazon

                                        Product_name     Price Product_rating
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,350   4.1 out of 5
1  Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990   4.2 out of 5
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990   4.3 out of 5
3  Lenovo Yoga 7 11th Gen Intel Core i7 14" Full ...    97,989   2.4 out of 5
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    84,990   3.3 out of 5
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    97,600   4.1 out of 5
6  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    73,990   4.4 out of 5
7  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    92,990     5 out of 5
8  Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990   4.1 out of 5
9  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990     4 out of 5